<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-O-Mania</title>
    <link rel="stylesheet" data-th-href="@{/style.css}">
</head>

<body>
    <div class ="wrapper">
        <div class = "heading">
            <h1>Book-o-Mania</h1>
        </div>
        
        <div class="horizontal-navbar">
            <nav>
                <a data-th-href="@{/home}">Home</a>
                <a data-th-href="@{/wishlist}">Wishlist</a>
                
                <!-- Dropdown for Genres -->
                <div class="dropdown"  >
                    <a href="#genres" class="dropbtn">Genres</a>
                    <div class="dropdown-content"> >
                        <a data-th-each = "listName: ${listNames}" data-th-href="@{/genres/{listName}(listName=${listName})}">
                            <span data-th-text="${listName}"></span>
                        </a>
                    </div>
                </div>
                <a data-th-if="${username} == null" data-th-href="@{/account/login}">Login</a>
                <a data-th-if="${username} != null" data-th-href="@{/account/logout}">Logout</a>
            </nav>
        </div>

        <div class="content">
            
            <div class = books>
                <h1><span data-th-text="${genreBooks.listName}"></span></h1>
            </div>
            <!-- <div class="book-category" data-th-each="book: ${genreBooks.books}"> -->
                
            <div class = "result-container">
                <div class = "image-result" data-th-each="book: ${genreBooks.books}">
                    <img class = "image" data-th-src ="${book.bookImageUrl}">
                    <p class="title"><a data-th-href = "@{/genres/{genre}/book/{title}(genre=${book.listName},title=${book.title})}"><span data-th-text="${book.title}"></span></a></p>
                </div>
                
            </div>
            
         
        </div>
        
    </div>
    
    
</body>
</html>