<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form method="post" data-th-action="@{/account/login}" data-th-object="${user}">
        <div>
            <label>Username</label>
            <input type="text" name="username" data-th-field="*{username}" placeholder="Username">
        </div>
        <div class = "error" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}" ></div>
        
        <div>
            <label>Password</label>
            <input type ="password" name="password" data-th-field ="*{password}" placeholder="Password">
        </div>
        <div class = "error" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" ></div>
        
        <div  data-th-if="${#fields.hasErrors('global')}">
			<p data-th-each="err: ${#fields.errors('global')}">
				<span class ="error" data-th-text="${err}"></span>
			</p> 
        </div>
        <button type ="submit">Login</button>
    </form>
</body>

</html>