<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-O-Mania</title>
    <link rel="stylesheet" data-th-href="@{/style.css}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class = "wrapper">
        <div class = "heading">
            <h1>Book-o-Mania</h1>
        </div>
        <div class="horizontal-navbar">
            <nav>
                <a data-th-href="@{/home}">Home</a>
                <a data-th-href="@{/wishlist}">Wishlist</a>
                
                <!-- Dropdown for Genres -->
                <div class="dropdown"  >
                    <a href="#genres" class="dropbtn">Genres</a>
                    <div class="dropdown-content"> >
                        <a data-th-each = "listName: ${listNames}" data-th-href="@{/genres/{listName}(listName=${listName})}">
                            <span data-th-text="${listName}"></span>
                        </a>
                    </div>
                </div>
                <a data-th-href="@{/account/login}">Login</a>
            </nav>
        </div>
        <div class = "form-container">
            <h1>Create New Account</h1>
            <form method="post" data-th-action="@{/account/create}" data-th-object="${newPerson}">
                <div class ="form-input">
                    <label>Username</label>
                    <input type="text" name="username" data-th-field="*{username}" placeholder="Username">
                </div>
                <div class = "error" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}" ></div>
                
                <div class ="form-input">
                    <label>Email</label>
                    <input type = "text" name ="email" data-th-field ="*{email}" placeholder="Email">
                </div>
                <div class = "error" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" ></div>
                
                <div class="form-input">
                    <label>Password</label>
                    <input type ="password" name="password" data-th-field ="*{password}" placeholder="Password">
                </div>
                <div class = "error" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" ></div>
                
                <div class="form-input">
                    <label>Re-enter Password</label>
                    <input type="password" name="password2" data-th-field="*{password2}" placeholder="Re-enter password">
                </div>
                <div class = "error" data-th-if="${#fields.hasErrors('password2')}" data-th-errors="*{password2}" ></div>
                <div  data-th-if="${#fields.hasErrors('global')}">
                    <p data-th-each="err: ${#fields.errors('global')}">
                        <span class ="error" data-th-text="${err}"></span>
                    </p> 
                </div>
                <button type ="submit">Create Account</button>
            </form>

        </div>
        <div class="hyperlink">
            <a data-th-href="@{/account/login}">Back</a>

        </div>
        
    </div>
    
</body>
</html>