<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-O-Mania</title>
    <link rel="stylesheet" data-th-href="@{/style.css}">
</head>

<body>
    <div class ="wrapper">
        <div class = "heading">
            <h1>Book-o-Mania</h1>
        </div>
        
        <div class="horizontal-navbar">
            <nav>
                <a data-th-href="@{/home}">Home</a>
                <a href="@{/wishlist}">Wishlist</a>
                
                <!-- Dropdown for Genres -->
                <div class="dropdown"  >
                    <a href="#genres" class="dropbtn">Genres</a>
                    <div class="dropdown-content"> >
                        <a data-th-each = "listName: ${listNames}" data-th-href="@{/genres/{listName}(listName=${listName})}">
                            <span data-th-text="${listName}"></span>
                        </a>
                    </div>
                </div>
                <a data-th-if="${username} == null" data-th-href="@{/account/login}">Login</a>
                <a data-th-if="${username} != null" data-th-href="@{/account/logout}">Logout</a>
            </nav>
        </div>

        <div class="content">

            <form method="POST" data-th-action="@{/search}">

                <div class="search-bar-container">
                    <input type="text" class="search-bar" name="search" placeholder="Enter the title...">
                    <button type="submit" class="search-button">Search</button>
                </div>

            </form>

            <div data-th-if="${errorMsg !=null}" class="error">
                <p><span data-th-text=${errorMsg}></span></p>
            </div>

            <div data-th-if="${searchResults != null}"class = "search-results">

                <h1>Search Results</h1>

                <div data-th-each="result:${searchResults}" class="result-container">

                    <div class = "image-result" >
                        <img class = "image" data-th-src ="${result.bookImageUrl}">
                    </div>

                    <div class ="book-summary">
                        <p>Title: <span data-th-text ="${result.title}"></span></p>
                        <p>Category: <span data-th-text ="${result.listName}"></span></p>
                        <p>Description: <span data-th-text ="${result.description}"></span></p>
                        <a class= "next" data-th-href = "@{/genres/{genre}/book/{title}(genre=${result.listName},title=${result.title})}"><span>View More</span></a>
                    </div>

                </div>

            </div>
            
        </div>

    </div>
    
</body>
</html>